services:
  db:
    image: postgres:15
    container_name: smarthunter_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: smarthunter_redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: smarthunter_rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: smarthunter_backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - rabbitmq
    env_file:
      - .env 
    environment:
      - DB_HOST=db
      - REDIS_URL=redis://redis:6379/0
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: smarthunter_worker
    restart: always
    command: celery -A celery_app worker --loglevel=info
    depends_on:
      - rabbitmq
      - redis
      - db
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - REDIS_URL=redis://redis:6379/0
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: smarthunter_frontend
    restart: always
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000

volumes:
  pg_data: